@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  margin: 0; /* Margin makes */
  background-color: var(--Crust);
  background-image: linear-gradient(
    to bottom,
    var(--Crust) 0%,
    var(--Crust) 50%,
    var(--Green) 50%,
    var(--Green) 100%
  );
  color: var(--Text);
}
h1 {
  /* top center of screen, Regardless of size */
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-align: center;
}

nav {
  background-color: var(--Rosewater);
  padding: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
}
nav.active {
  width: 350px;
}
nav.active ul {
  width: 100%;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 600ms linear;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 600ms linear, opacity 500ms linear;
}
nav.active ul li {
  transform: rotateY(360deg);
  opacity: 1;
  transition: all 600ms linear;
}

nav ul a {
  position: relative;
  color: var(--Surface0);
  text-decoration: none;
  margin: 0 10px;
}

.icon {
  background-color: var(--Rosewater);
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}
.icon:focus {
  outline: none;
}
.icon .line {
  background-color: var(--Surface0);
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;

  transition: transform 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}
nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}
