@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&family=Yatra+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Yatra One', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

    margin: 0; /* Margin makes */
    background-color: var(--Crust);
    color: var(--Text);
}
h1 {
    /* top center of screen, Regardless of size */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    text-align: center;
}

.empty{
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 2px solid var(--Teal);
    border-radius: 10px;
    background: var(--Mantle);
}
.fill{
    background-image: url('https://source.unsplash.com/random/?puppies');
    background-size: cover;
    height: 155px;
    width: 155px;
    border-radius: 8px;
    cursor: pointer;
}
.hold{
    border: 2px solid var(--Mauve);
    border-radius: 8px;
}

.hovered{
    background-color: var(--Surface0);
    border-radius: 10px;
    border-style: dashed;
}

@media(max-width: 700px) {
    body{flex-direction: column;}
    h1 {
        top: 5%;
        font-size: 1.5rem;
    }
}

@media(min-width: 1000px){
    h1 {
        font-size: 5rem;
    }
    .empty{
        height: 250px;
        width: 250px;
        margin: 10px;
    }
    .fill{
        background-image: url('https://source.unsplash.com/random/?puppies');
        height: 245px;
        width: 245px;
    }
}