* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

  margin: 0; /* Margin makes */
  background-color: var(--Crust);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* FIll the screen but leave 50px border*/
  /*max-height: calc(100vh - 50px);*/
  /*max-width: calc(100vw - 50px);*/
  max-width: 800px;
}

.square{
  background-color: var(--Base);
  box-shadow: 0 0 2px var(--Mantle);
  height: 16px;
  width: 16px;
  margin: 1.5px;
  transition: 2s ease;
}

.square:hover{
  transition-duration: 0ms;
}