:root {
    --Mauve: 198, 160, 246;
    --Peach: 245, 169, 127;
    --Surface0: 54, 58, 79;
    --Crust: #181926;
}
html,
body {
  background-color: var(--Crust);
  
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1000ms;
}

body:has(.card[data-color="orange"]:hover) {
  background-color: rgba(var(--Peach) / 25%);
}
body:has(.card[data-color="purple"]:hover) {
  background-color: rgba(var(--Mauve) / 25%);
}
body:has(.card[data-color="gray"]:hover) {
  background-color: rgba(var(--Surface0) / 25%);
}

#cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.card {
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: scale 100ms; /* pop on click */
}

.card .card-front-image {
  position: relative;
  z-index: 2;
}

.card .card-image {
  width: clamp(300px, 20vw, 500px);
  aspect-ratio: 1/1;
  border-radius: clamp(0.5rem, 0.75vw, 2rem);
}

.card-faders {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1500ms;
  pointer-events: none;
}
.card:hover .card-faders {
  opacity: 1;
}
.card:active {
  scale: 0.98;
}
.card-fader {
  /* Centers the fader */
  position: absolute;
  left: 0px;
  top: 0px;
}

/* These are the animations */
.card-fader:nth-child(odd) {
  animation: fade-left 3s linear infinite;
}

.card-fader:nth-child(even) {
  animation: fade-right 3s linear infinite;
}

/* Animation delay for each side */
.card-fader:is(:nth-child(3), :nth-child(4)) {
  animation-delay: 750ms;
}
.card-fader:is(:nth-child(5), :nth-child(6)) {
  animation-delay: 1500ms;
}
.card-fader:is(:nth-child(7), :nth-child(8)) {
  animation-delay: 2250ms;
}

/* Size based on screen */
@media (max-width: 1200px) {
  body {
    justify-content: flex-start;
    align-items: flex-start;
  }
  #cards {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
  }
  .card .card-image {
    width: 400px;
  }
}
@media (max-width: 600px) {
  #cards {
    gap: 2rem;
    padding: 2rem;
  }
  .card {
    width: 80%;
  }
  .card .card-image {
    width: 100%;
  }
}

/* Keyframe Animation */
@keyframes fade-left{
    from{
        scale: 1;
        translate: 0%;
        opacity: 1;
    }
    to{
        scale: 0.8;
        translate: -30%;
        opacity: 0;
    }
}
@keyframes fade-right{
    from{
        scale: 1;
        translate: 0%;
        opacity: 1;
    }
    to{
        scale: 0.8;
        translate: 30%;
        opacity: 0;
    }
}