@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Pixelify Sans', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

  margin: 0; /* Margin makes */
  background-color: var(--Crust);
  color: var(--Text);
}

.toggle-container{
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 200px;
}
.toggle{
  visibility: hidden;
}
.label{
  position: relative;
  background-color: var(--Surface0);
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0 15px 0;
  width: 80px;
  height: 40px;
}
.toggle:checked + .label{
  background-color: var(--Mauve);
  opacity: 0.8; /* Making it darker */
}
.ball{
  background-color: var(--Text);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 4px;
  align-items: center;
  justify-content: center;
  animation: slideOff 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; /* Removed Linear*/
}

.toggle:checked + .label .ball{
  animation: slideOn 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes slideOn{
  0%{
    transform: translateX(0) scale(1);
  }
  /* 50%{
    transform: translateX(20px) scale(1.15);
  } */
  100%{
    transform: translateX(39px) scale(1);
  }
}

@keyframes slideOff{
  0%{
    transform: translateX(39px) scale(1);
  }
  /* 50%{
    transform: translateX(20px) scale(1.15);
  } */
  100%{
    transform: translateX(0) scale(1);
  }
}
