@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&family=Yatra+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sarala', cursive;
    height: 100vh;
    background-color: var(--Crust);
    color: var(--Text);
}
.side-l{color: var(--Base);}
.side-l.pinky{background-color: var(--Pink);}
.side-l.bluey{background-color: var(--Blue);}
.side-l.darky{background-color: var(--Surface0); color: var(--Text)}
.side-l.peachy{background-color: var(--Peach);}
/* .side-r{color: var(--Base);} */
.side-r.peachy{background-image: url(https://source.unsplash.com/random/?sunsets+peachy);}
.side-r.darky{background-image: url(https://source.unsplash.com/random/?mountains+castles+dark+black);}
.side-r.bluey{background-image: url(https://source.unsplash.com/random/?sky+ocean+blue);}
.side-r.pinky{background-image: url(https://source.unsplash.com/random/?flowers+valley+pink);}

.slider-container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide{
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.left-slide > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-slide h1{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.right-slide{
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.right-slide > div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}
button{
    background-color: var(--Text);
    border: none;
    color: var(--Base);
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}
button:hover{
    background-color: var(--Subtext1);
}
button:focus{
    outline: none;
}

.slider-container .action-buttons button{
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 4;
}
.slider-container .action-buttons .down-btn{
    border-radius: 5px 0 0 5px; /* Could do top-left-radius */
    transform: translateX(-100%);
}
.slider-container .action-buttons .up-btn{
    border-radius: 0 5px 5px 0;
    transform: translateY(-100%);
}
