@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'ADLaM Display', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

    margin: 0; /* Margin makes */
    background-color: var(--Crust);
    color: var(--Text);
}
h1 {
    /* top center of screen, Regardless of size */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    text-align: center;
}

.counter-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter{
    font-size: 60px;
    margin-top: 10px;
}

@media(max-width: 700px){
    body{
        flex-direction: column;
    }
    h1{
        font-size: 2.5rem;
        top: 5%;
    }
    .counter{
        font-size: 40px;
    }
}